// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.back {
    
    height: 910px;
    width: 1000px;
}


.port{
    height: 800px;
}

